<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppKey</key>
	<string>$(AppKey)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaoc672232139a6103cfee5f43976b63b33</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.988903467324-lvdssgpri7tej1lgndb9ea6p72qgthmk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-988903467324-ios-be4642063897d862539639</string>
			</array>
		</dict>
	</array>
	<key>EncryptKey</key>
	<string>$(EncryptKey)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>IVKey</key>
	<string>$(IVKey)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaolink</string>
		<string>kakaokompassauth</string>
	</array>
</dict>
</plist>
