<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988903467324-hol6i9pakso66v493in3fl2bs4odbtg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988903467324-hol6i9pakso66v493in3fl2bs4odbtg9</string>
	<key>API_KEY</key>
	<string>AIzaSyDdiEI4JS_9AWsD33ZlbilfQ3PqfLwzaIc</string>
	<key>GCM_SENDER_ID</key>
	<string>988903467324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iucyh.ECO-FB-Test</string>
	<key>PROJECT_ID</key>
	<string>e-co-4f9aa</string>
	<key>STORAGE_BUCKET</key>
	<string>e-co-4f9aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988903467324:ios:0268fd751ae3fc80539639</string>
</dict>
</plist>